html,body{margin:0;padding:0}
html { min-height: 100%; margin-bottom: 1px; }
body{background:#FFF url("../images/bg.gif") repeat-x;text-align:center;font:13px Arial}
#nav{height:30px;margin-top:12px;text-align:center}
#nav table{margin:0px auto}
#nav td { padding: 0px; }
#nav a { font: 15px "Helvetica", "Arial", sans-serif; color: #FFF; display: block; float: left; padding: 7px 12px 7px 12px; text-decoration: none; font-weight: bold }
#nav a:hover { color: #A4A1F7 }
h1 {font-size:20px; border: 1px solid #CCC; margin-top: 0px; background: #EEE; padding: 1px 0px; text-align: center}
h2 {font-size:16px; border-bottom: 1px solid #AAA }
h3 {font-size:14px}
#content { width: 460px; margin: 0px auto; padding-top: 10px; text-align: left; }
#footer { padding: 40px 2px 2px 0px; text-align: right; font: 11px "Trebuchet MS", "Verdana", sans-serif; }
